data_multimodal_tcga/Radiology/*
data_multimodal_tcga/Pathology*
data_multimodal_tcga/BraTS2021_Training_Data/*
tmp_slides_debug/*
weights/*
wandb/*`
MIL/checkpoint_best.pth
/data_multimodal_tcga/Decathlon/
/data_multimodal_tcga/
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/deep-multimodal-glioma-prognosis.iml
MRI_biomarkers/__pycache__
MRI_biomarkers/results
/MRI_biomarkers/ssl_results/
/MRI_biomarkers/ssl_results_ft/
/MRI_biomarkers/saved_ckpt/
